:root{
    --size : 100px;
    --mark-size: calc(var(--size) * 0.9)
}
body{
    font-family: Arial, sans-serif;
}
.board {
    width: calc(var(--size) *3);
    height: calc(var(--size) *3);
    display: grid;
    background-color: black;
    gap: 2px;
    grid-template-columns: repeat(3, auto)
}
.game{
  display: none;
}
.cell{
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}
.userguid{
    font-size: larger;
    font-weight: bold;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: white;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
  border-radius:2em ;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

.first-page{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.first-page form{
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  gap: 1rem;
}
.first-page form input{
  width: 90%;
  font-size: 1.5rem;
  border-radius: 0.5em;
  padding: 10px;
  border-width:1px ;
}
.first-page form button{
  font-size: 1.5rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
  border-radius:2em ;
}
.first-page form button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.start-game{
  display: block;
}
.hide{
  display: none;
}

@media screen and (max-width : 600px) {
  .first-page form{
    width: 100%;
  }
}